* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #1e6a6b;
    --cor-primaria-hover: #248f8f;
    --cor-fundo: #fef7e6;
    --cor-branca: #ffffff;
    --cor-fundo-secundario: #e9e0d1;
    --cor-texto: #2b2d30;
    --cor-texto-secundario: #c49e4d;
    --cor-borda: #d4c9b3;

    --fonte-principal: 'inter';

    --espaco-xs: 0.5rem;    /* 8px */
    --espaco-sm: 1rem;      /* 16px */
    --espaco-md: 1.5rem;    /* 24px */
    --espaco-lg: 2rem;      /* 32px */ 
    --espaco-xl: 3rem;      /* 48px */
    --espaco-xxl: 6rem;     /* 96px */ 

    --raio-sm: 0.5rem;
    --raio-md: 0.75rem;
    --raio-lg: 1rem;
}

.body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:99999; 
    backdrop-filter: blur(12px); 
    border-bottom: 1px solid var(--cor-borda);


}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    padding: var(--espaco-sm) var(--espaco-lg);

}

.navbar-logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--cor-primaria);
    text-decoration: none;
    letter-spacing: -0.03rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: var(--espaco-lg);
    cursor: pointer;
}

.navbar-links a {
    text-decoration: none;
    color: var(--cor-texto-suave);
    font-size: 1.25rem;
    font-weight: 550;
    
}

.navbar-links a:hover {
    color: var(--cor-primaria);
}

.hero {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--espaco-lg) var(--espaco-xxl) ;

}

.hero-titulo {
    font-size: clamp(2.5rem, 5.7rem, 4.5rem);
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03rem;
    color: var(--cor-texto);
    max-width: 56rem;
    text-align: center;
    margin-bottom: var(--espaco-md);
}

.hero-subtitulo {
    font-size: clamp(1rem, 1.875rem, 1.25rem);
    color: var(--cor-texto-secundario);
    max-width: 42rem;
    line-height: 1.7;
    margin-bottom: var(--espaco-xl);
    text-align: center;
}

.hero-estatisticas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--espaco-lg);
    width: 100%;
    max-width: 48rem;
    padding-top: var(--espaco-xl);
    border-top: 1px solid var(--cor-borda);

}

.hero-estatisticas-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaco-xs);
}

.dados-numeros {
    font-size: 2.25rem;
    color: var(--cor-primaria);
    font-weight: 700;
    line-height: 1;
}

.dados-descricao {
    font-size: 0.9375rem;
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

.sinopse {
    padding: var(--espaco-xxl) 0;
}

.sinopse .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 1fr 1fr -> Duas colunas de tamanhos iguais */
    gap: 4rem;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
 
    
}

.sinopse-texto span {
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: var(--espaco-sm);
}

.sinopse-paragrafo {
    font-size: 1.0625rem;
    color: var(--cor-texto-suave);
    line-height: 1.75;
    margin-bottom: var(--espaco-md);
}

.personagens-pilares {
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-lg);
    padding: var(--espaco-xl);
}

.personagens-pilares-titulo {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--cor-texto);
    margin-bottom: var(--espaco-lg);

}

.personagens-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--espaco-md);
}

.personagem {
    display: flex;
    align-items: start;
    gap: var(--espaco-sm);

}

.personagem-icone {
    background-color: color-mix(in srgb, var(--cor-primaria) 10%, transparent);
    padding: var(--espaco-xs);
    border-radius: var(--raio-sm);
    /*Comentário*/
}

.personagem-titulo {
    display: block;
    font-weight: 600;
    color: var(--cor-texto);
    margin-bottom: 2px;
}

.personagem-descricao {
    font-size: 0.875rem;
    color: var(--cor-texto-suave);
    line-height: 1.5;
}

h2 {
    font-size: clamp(1.75rem, 3rem, 3rem);
    font-weight: 700;
    line-height: 1.2;
    color: var(--cor-texto);
    margin-bottom: var(--espaco-lg);
}

.adaptacoes {
    background-color: var(--cor-fundo-secundario);
    padding: var(--espaco-xxl) 0;
}

.adaptacoes .container {
    max-width: 1280px;
    margin: 0 auto;
}

.adaptacoes-header {
    text-align: center;
    margin-bottom: var(--espaco-xxl);

}

.adaptacoes-descricao {
    text-align: center;
    font-size: 1.0625rem;
    color: var(--cor-texto-suave);
    line-height: 1.75;
    margin: 0 auto;
    max-width: 38rem;
}

.adaptacoes-grid {
    display: grid;
    /*auto-fill: o grid cria quantas colunas couberem */
    /*minmax(300px, 1fr): cada coluna tem no mínimo 300px e no máximo 1fr(distribui no espaço restante) */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--espaco-md);
}

.adaptacao {
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-lg);
    padding: var(--espaco-xl);
    transition: transform 0.2s ease

} 

.adaptacao:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.adaptacao-icone {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: var(--espaco-md)

}

.adaptacao-titulo {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--cor-texto);
    margin: var(--espaco-xs) 0;
}

.adaptacao-descricao {
    font-size: 0.9375rem;
    color: var(--cor-texto-suave);
    line-height: 1.75;
}

.autor {
    padding: var(--espaco-xxl);
}

.container-autor {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
}

.dados-autor {
    display: flex;  
    justify-content: center;
    gap: var(--espaco-xl);
    margin-top: var(--espaco-xxl);
}

.membro-autor{
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.avatar-autor {
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    border-radius: 50%;
    margin-bottom: var(--espaco-md);
}

.membro-autor {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--cor-primaria);
    margin-bottom: var(--espaco-sm);
}

.autor-descricao {
    font-size: 0.875em;
    color: var(--cor-texto-suave);    
}

.avatar-autor:hover {
    transform: scale(1.2);
    transition: ease 0.3s;
}
